/**
* Theme Name: Marketo Child
* Theme URI: https://themeforest.net/user/xpeedstudio/portfolio
* Description: Marketo is a powerful and modern WooCommerce responsive WordPress Theme.
* Version: 1.0
* Author: XpeedStudio
* Author URI: http://www.xpeedstudio.com
* Tags: one-column, right-sidebar, left-sidebar, custom-menu, featured-images, post-formats, sticky-post, translation-ready
* Text Domain: marketo
* Template: marketo
* We encourage you to create Child theme for any modifications you will want to do.

* Why use Child theme?

* Because of future updates we may provide for this theme that will overwrite your
* modifications and all your custom work.

* If you are not familiar with Child Themes, you can read about it here:
* http://codex.wordpress.org/Child_Themes
* http://wp.tutsplus.com/tutorials/theme-development/child-themes-basics-and-creating-child-themes-in-wordpress/

====================================================================================== */
.dokan-deliveryboy-listing-area {
    padding: 0px 15px;
}
.dokan-dashboard-content .dokan-deliveryboy-listing-area .deliveryboy-listing-top {
    border-bottom: 1px solid #EDEDED;
    line-height: 50px;
    margin-bottom: 15px;
}
.dokan-dashboard-content .dokan-deliveryboy-listing-area .deliveryboy-listing-top ul.dokan-listing-filter {
    width: 60%;
}
.dokan-dashboard-content .dokan-deliveryboy-listing-area .deliveryboy-listing-top span.dokan-add-deliveryboy-link {
    width: 36%;
    float: right;
    text-align: right;
}
input[type="submit"].dokan-btn, a.dokan-btn, .dokan-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
.dokan-store-tabs ul.dokan-list-inline li:nth-child(2) {
    display: none !important;
}
.dokan-store-tabs ul.dokan-list-inline li.dokan-store-follow-store-button-container {
    display: none !important;
}
.store-wrapper .store-footer button.dokan-follow-store-button {
    display: none !important;
}
li.select2-selection__choice {
        padding: 10px 5px !important;

    }
    .btn.dropdown-toggle.bs-placeholder.form-control.btn-default.btn-outline {
        background-color: #fff !important;
    }
    .btn.dropdown-toggle.form-control.btn-default.btn-outline {
        background-color: #fff !important;
    }
    .magicsearch-wrapper {
        width: 100% !important;
    }
    input.magicsearch {
        width: 100% !important;
    }
    .magicsearch-wrapper .multi-item span {
        color: #514848 !important;
        font-size: 15px !important;
    }
    div.magicsearch-box ul {
        padding: 2% !important;
    }