<span style='color: #000' title='Frames'>   172</span><span style='color: #009' title='Memory'>   4096.00 KB</span><span style='color: #900' title='Time'>    152.64 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />